{% extends "base.html" %}
{% block content %}
{% if service_list %}
<h2>Последние 5 услуг/товаров</h2>
<form class="form form-search" method="get" action="{% url 'polls:search' %}">
    <input type="search" placeholder="Поиск" name="query">
    <button class="table-input" type="submit">Поиск</button>
</form>
<div class="cards">
    {% for service in service_list %}
    <div class="card" style="width: 18rem;">
        <img src="/media/{{ service.service_img }}" class="card-img-top" alt="Изображение">
        <div class="card-body">
          <a href="{% url 'polls:separate_service' service.id %}">Название: {{ service.service_name }}</a>
          <p>Описание: {{ service.description_service }} </p>
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
<p>
    Нет услуг/товаров!
</p>
{% endif %}
{% endblock %}